

.about-container {
    text-align: center; /* Center-align all text content */
    max-width: 1300px; 
    margin: 0 auto; /* Center the container */
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('../../asset/about.jpg'); /* Replace with your image file path */
  background-position: center; 
  /* background-repeat: no-repeat;  */
  background-size: cover;
  background-color: transparent;
  }
  .about-header {
   
    font-size: 20px;
    color: #404547;
    text-align: left;
    padding-left: 50px;
  }
  
  .text {
    margin: 18px 0; /* Add spacing between elements */
    font-size: 24px;

  }
  
  .button-list {
    list-style: none; /* Remove default list bullets */
    padding: 0;
  }
  
  .button-list li {
    margin-bottom: 10px; /* Add spacing between list items */
  }
  .button{
    background-color: #84bed7de; /* Background color for the footer */
    color: black; /* Text color */
    text-align: center;
    padding: 5px; /* Add padding to the top and bottom */
    border-radius: 5px;
    max-width: 800px; 
  }

    .button:hover{
        background-color: #b6e7ebde; /* Background color for the footer */
        color: black; /* Text color */
        text-align: center;
        padding: 5px; /* Add padding to the top and bottom */
        border-radius: 5px;
        max-width: 800px; /* Set a maximum width for the container */
    }